<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container"><br>
        <h3 class="display-5 text-center">Book List</h3><br>
        <!-- Book List -->
        <section>
            <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Publisher</th>
                            <th scope="col">Number of Page</th>
                            <th scope="col">Price</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Tag</th>
                            <th scope="col">Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% books.forEach( (book) => { %>
                            <tr>
                                <th scope="row"><%=book.id%></th>
                                <td><%=book.title%></td>
                                <td><%=book.author%></td>
                                <td><%=book.publisher%></td>
                                <td><%=book.numberOfPage%></td>
                                <td>Rp. <%=book.price%></td>
                                <td><%=book.stock%></td>
                                <td>
                                    <ul>
                                        <% book.bookTags.forEach( (tag) => { %>
                                            <li><%= tag.Tag.name %></li>
                                        <% }) %>
                                    </ul>
                                </td>
                                <td> <a href='/employee/edit/<%=book.id%>'>Edit</a> | <a href='/employee/delete/<%=book.id%>'>x</a></td>
                            </tr>
                        <% }) %>
                    </tbody>
            </table>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>